<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <img src="/assets/logo.svg" alt="Education Blog Logo" class="logo">
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
          <li>
            <a href="/contact/">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>